
//****** Colors *******//
$body-color: #F6F9FC;
$border-color: #d8d2d2;
$input-border-color: #9c9c9c;
$uml-tools-color: rgba(255, 255, 255, 0.4);

$primary: #FFFFE0;

//****** Shadows *******//
$sm-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;;
$md-shadow:  0 .125rem .25rem rgba(0,0,0,.075) !important;